#navbarBrand{
    direction: unset;
    justify-content: center;
    text-align: center;
    align-items: center;
   display: flex;
   width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
} 

#navbarBrand:hover {
  transform: scale(1.3); /* grows by 30% */
    color: #8f7db6 !important;        /* Bootstrap primary */
  animation: both;
  font-weight: 600;
  font-size: larger;
  transition: all 0.2s ease-in-out;
}


.navbar-scrolled {
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 0 !important;
  backdrop-filter: blur(6px);
  margin-left: 10px;
  margin-right: 10px;
}






/* navbar.css */
.nav-link {
  color: #f1f1f1 !important;        /* light grey */
  appearance: capitalize;
  font-weight: 600;
  font-size: larger;
  transition: all 0.2s ease-in-out;
  justify-items: center;
}



.nav-link.active-link {
  color: #8f7db6 !important;        /* Bootstrap primary */
  animation: both;
  font-weight: 600;
  font-size: larger;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  color: #8f7db6 !important;        /* Bootstrap primary */
  
  font-weight: 800;
  font-size: larger;
  transition: all 0.2s ease-in-out;
}

