
/* Global reset */
body {
  overflow-x: hidden; /* avoid black space scroll */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

/* General section styling */
section {
  margin-bottom: 10px;
}

/* Headings */
h2 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

